.modal__background {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 15, 15, 0.7);
  z-index: 2;
  cursor: pointer;
}
.modal__container {
  position: relative;
  border-radius: 10px;
  margin: auto;
  visibility: visible;
  border-top-right-radius: 110px;
  border-bottom-left-radius: 110px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 15px 150px 2px rgba(46, 45, 45, 0.6);
}
.modal__text-container {
  position: absolute;
  left: 60px;
  top: 35%;
}
.modal__fail_container {
  position: absolute;
  background-image: linear-gradient(
    117.8deg,
    rgba(240, 19, 77, 1) 22.2%,
    rgba(228, 0, 124, 1) 88.7%
  );
  z-index: 2;
  width: 100%;
  height: 100%;
  border-top-right-radius: 110px;
  border-bottom-left-radius: 110px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.modal__success_container {
  position: absolute;
  background-image: linear-gradient(
    72.5deg,
    rgba(0, 175, 255, 1) 27.9%,
    rgba(0, 224, 254, 1) 84.2%
  );
  width: 100%;
  height: 100%;
  border-top-right-radius: 110px;
  border-bottom-left-radius: 110px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.modal__load-error_container {
  position: absolute;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(111, 111, 219, 1) 0%,
    rgba(182, 109, 246, 1) 72.4%
  );
  z-index: 2;
  width: 100%;
  height: 100%;
  border-top-right-radius: 110px;
  border-bottom-left-radius: 110px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.modal__load-error_container .modal__message::before {
  display: none;
}
.modal__load-error_text {
  position: relative;
  top: 90px;
  left: 70px;
  font-size: 26px;
  width: 260px;
  line-height: 1.4;
  text-align: center;
}
.modal__load-error_container .modal__message {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: 400;
}
.modal__load-error_container .modal__sub-message {
  font-weight: 700;
}

.modal__hidden {
  display: none;
}

.modal__close-button {
  background-image: url(../../images/blackMobileX.svg);
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  position: absolute;
  border: none;
  top: -20px;
  right: -20px;
}
.modal__close-button:hover {
  opacity: 0.6;
}

.modal__icon {
  opacity: 0.2;
  background-repeat: no-repeat;
  z-index: 2;
}
.modal__message::before {
  content: "Oops.";
  font-size: 30px;
  font-weight: 700;
  padding-right: 8px;
  position: relative;
}
.modal__message {
  color: rgb(233, 233, 233);
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  margin-bottom: 16px;
}
.modal__sub-message {
  color: white;
  margin-top: 0px;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
}
.fail-icon {
  background-image: url("../../images/oops__icon.svg");
  background-position: top;
  object-position: 20% 70%;
  position: absolute;
  bottom: 0px;
  right: -0px;
  background-size: cover;
  width: 450px;
  height: 350px;
}

.modal__success-message {
  font-size: 34px;
  font-weight: 300;
  width: 50px;
  line-height: 2;
  color: white;
  position: relative;
  z-index: 5;
  right: -80px;
  bottom: -50px;
}
.success-icon {
  background-image: url("../../images/success__icon.svg");
  position: absolute;
  bottom: 40px;
  right: -130px;
  width: 420px;
  height: 240px;
}

@media screen and (max-width: 800px) {
  .modal__container,
  .modal__load-error_container,
  .modal__success_container,
  .modal__fail_container {
    width: 80vw;
    height: 280px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .modal__load-error_container .modal__message {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 400;
  }
  .modal__message {
    color: rgb(233, 233, 233);
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 16px;
  }
  .modal__sub-message {
    color: white;
    margin-top: 0px;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
  }
  .modal__success-message {
    font-size: 24px;
    font-weight: 300;
    width: 50px;
    line-height: 2;
    color: white;
    position: relative;
    z-index: 5;
    right: -80px;
    bottom: -40px;
  }
  .modal__load-error_text {
    position: relative;
    top: 40px;
    left: 70px;
    font-size: 26px;
    width: 260px;
    line-height: 1.4;
    text-align: center;
  }
  .modal__close-button {
    right: 0;
    top: -50px;
  }
  .fail-icon {
    height: 250px;
    width: 330px;
  }
  .success-icon {
    height: 240px;
    width: 240px;
    right: 30px;
    bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .modal__message::before {
    content: "Oops.";
    font-size: 28px;
    font-weight: 700;
    padding-right: 8px;
    position: absolute;
    top: -30px;
  }
  .success-icon {
    background-image: url("../../images/success__icon.svg");
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 190px;
    height: 190px;
  }
  .modal__success-message {
    left: 40px;
  }
  .fail-icon {
    width: 250px;
    height: 190px;
  }
  .modal__load-error_container .modal__message,
  .modal__sub-message {
    width: 200px;
    font-size: 14px;
  }
  .modal__load-error_text {
    left: 40px;
  }
}
@media screen and (max-width: 400px) {
  .modal__container,
  .modal__load-error_container,
  .modal__success_container,
  .modal__fail_container {
    width: 100vw;
  }
}
