body {
  margin: 0;
  padding: 0;
}
button,
select {
  cursor: pointer;
}
* {
  font-family: "Inter", sans-serif;
  transition: all 0.3s 0s linear;
}

@import url(fonts/font.css);
@import url(vendor/normalize.css);
@import url(components/App/App.css);
@import url(components/CreateUserForm/CreateUserForm.css);
@import url(components/Modal/Modal.css);
@import url(components/Footer/Footer.css);
@import url(components/SelectInput/SelectInput.css);
@import url(components/TextInput/TextInput.css);
@import url(components/SubmitButton/SubmitButton.css);
@import url(components/Header/Header.css);
