body {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Inter", sans-serif;
}

@import url(fonts/font.css);
@import url(vendor/normalize.css);
@import url(components/App/App.css);
@import url(components/CreateUserForm/CreateUserForm.css);
@import url(components/InfoToolTip/InfoToolTip.css);
